{% extends 'base.html.twig' %}

{% block body %}
    <section class="home">
        <div class="max-width">
            <h1>Mon profil</h1>
            {# render the form and change the submission method #}
            <div class="Formulaire">
            {{ form_start(profilForm) }}
            <!--Widget ne sert à rien <3, row change les "cases" de place-->
            {{ form_row(profilForm.pseudo) }}
            {{ form_row(profilForm.prenom) }}
            {{ form_row(profilForm.nom) }}
            {{ form_row(profilForm.telephone) }}
            {{ form_row(profilForm.email) }}
            {{ form_row(profilForm.password) }}
            {{ form_row(profilForm.campus) }}
            </div>
            {{ form_row(profilForm.enregistrer) }}
            <div class="flex-box btn-container">
                <input type="reset" name="Annuler">
              <!--  <input type="submit" name ="annuler" class="btn btn-primary" value="Annuler" href="{ path('main_accueil') }}">-->
            </div>
            {{ form_end(profilForm) }}



           <!-- <{ form_start(profilForm) }}
            { form_widget(profilForm) }}
            <button>Enregister</button>
            <button>Annuler</button>
           { form_end(profilForm) }}-->
        </div>
    </section>

{% endblock %}