{% extends 'base.html.twig' %}

{% block body %}
    <section class="home">
        <div class="max-width">
            <h1>Mon profil</h1>
            {# render the form and change the submission method #}

            {{ form_start(profilForm) }}
            <!--Widget ne sert à rien <3, row change les "cases" de place-->
            {{ form_row(profilForm.pseudo) }}
            {{ form_row(profilForm.prenom) }}
            {{ form_row(profilForm.nom) }}
            {{ form_row(profilForm.telephone) }}
            {{ form_row(profilForm.email) }}
            {{ form_row(profilForm.password) }}
            <div class="flex-box">
                <label for=	"Confirmation_mdp" >Confirmation: </label>
                <input type="password" id="confirmation" name="confirmation" value="">
            </div>

            {{ form_row(profilForm.campus) }}
            <div class="flex-box btn-container">
                <input type="submit" name="enregistrer" class="btn btn-primary" value ="Enregistrer">
                <input type="submit" name ="annuler" class="btn btn-primary" value="Annuler">
            </div>
            {{ form_end(profilForm) }}



           <!-- <{ form_start(profilForm) }}
            { form_widget(profilForm) }}
            <button>Enregister</button>
            <button>Annuler</button>
           { form_end(profilForm) }}-->
        </div>
    </section>

{% endblock %}